src/main/resources/xsdfiles/farmers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="farmers" type="farmersType"/>

  <xs:complexType name="farmersType">
    <xs:sequence>
      <xs:element name="farmer" type="farmerType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="farmerType">
    <xs:sequence>
      <xs:element name="farmer_id" type="xs:int"/>
      <xs:element name="farmer_name" type="xs:string"/>
      <xs:element name="farmer_address" type="xs:string"/>
      <xs:element name="farmer_phone" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
